# Importing Dataset from system

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Classification Dataset1.csv to Classification Dataset1.csv
User uploaded file "Classification Dataset1.csv" with length 235289 bytes

In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score,confusion_matrix
from sklearn.externals import joblib

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [41]:
data = pd.read_csv("/content/Classification Dataset1.csv")
data.head()

    Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0  Hargrave          619    France  ...            1.0        101348.88       1
1      Hill          608     Spain  ...            1.0        112542.58       0
2      Onio          502    France  ...            0.0        113931.57       1
3      Boni          699    France  ...            0.0         93826.63       0
4  Mitchell          850     Spain  ...            1.0         79084.10       0

[5 rows x 11 columns]

In [42]:
data.shape

(4503, 11)

In [43]:
data.columns

Index(['Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [44]:
data.dtypes

Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure             float64
Balance            float64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

Sirname is not a valid column for our classification model

In [45]:
data.drop("Surname",axis=1,inplace=True)

In [46]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...             1.0        101348.88       1
1          608     Spain  Female  ...             1.0        112542.58       0
2          502    France  Female  ...             0.0        113931.57       1
3          699    France  Female  ...             0.0         93826.63       0
4          850     Spain  Female  ...             1.0         79084.10       0

[5 rows x 10 columns]

In [47]:
for row in range(len(data)):
  data_row = data.iloc[row,:]
    #encoding Geographny
  if data_row.Geography == 'France':
    data_row.Geography = 0
  else:
    data_row.Geography = 1
  #encoding Gender
  if data_row.Gender == 'Male':
    data_row.Gender = 0
  else:
    data_row.Gender = 1
  data.iloc[row,:] = data_row

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [48]:
data.head()

   CreditScore Geography Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619         0      1  ...             1.0        101348.88       1
1          608         1      1  ...             1.0        112542.58       0
2          502         0      1  ...             0.0        113931.57       1
3          699         0      1  ...             0.0         93826.63       0
4          850         1      1  ...             1.0         79084.10       0

[5 rows x 10 columns]

In [63]:
data.isna().sum()

CreditScore         0
Geography           0
Gender              0
Age                 6
Tenure              3
Balance            15
HasCrCard           4
IsActiveMember      2
EstimatedSalary     9
Exited              0
dtype: int64

In [64]:
data.dropna(inplace=True)

In [65]:
data.shape

(4466, 10)

In [66]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [67]:
X

      CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619         0      1  ...        1.0             1.0        101348.88
1             608         1      1  ...        0.0             1.0        112542.58
2             502         0      1  ...        1.0             0.0        113931.57
3             699         0      1  ...        0.0             0.0         93826.63
4             850         1      1  ...        1.0             1.0         79084.10
...           ...       ...    ...  ...        ...             ...              ...
4498          771         0      0  ...        1.0             0.0         96270.64
4499          516         0      0  ...        1.0             1.0        101699.77
4500          709         0      1  ...        0.0             1.0         42085.58
4501          772         0      0  ...        1.0             0.0         92888.52
4502          792         0      1  ...        1.0             0.0         38190.78

[4466 rows x 9 columns]

In [68]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4498    0
4499    0
4500    1
4501    1
4502    0
Name: Exited, Length: 4466, dtype: int64

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [70]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [74]:
prediction = model.predict(X_test)

In [77]:
confusion_matrix(y_test,prediction)

array([[1108,   58],
       [ 287,   21]])

In [78]:
f1_score(y_test,prediction)

0.10852713178294572

In [81]:
# Saving the model
joblib.dump(model,"classification_model.pkl")

['classification_model.pkl']